.showEvents {
  flex: 4;
  padding: 20px;
  /* height: 500px; */
}
.rbc-event,
.rbc-day-slot .rbc-background-event {
  font-weight: 600;
  background-color: rgb(16, 185, 129) !important;
  padding: 4px !important;
  font-size: 14px;
  color: rgb(5, 77, 53) !important;
}

.rbc-toolbar {
  font-weight: bold;
}

/* .rbc-event:focus,
.rbc-day-slot .rbc-background-event:focus {
  background-color: rgb(5, 77, 53) !important;
} */

.title {
  margin-bottom: 20px;
}
