.sidebar {
  flex: 1;
  height: calc(100vh - 70px);
  background-color: rgb(17, 24, 39);
  position: sticky;
  top: 70px;
  overflow: auto;
}

.sidebarWrapper {
  padding: 20px;
  color: rgb(209, 213, 219);
}

.sidebarMenu {
  margin-bottom: 10px;
}

.sidebarTitle {
  font-size: 13px;
  color: rgb(160, 160, 160);
}

.sidebarList {
  list-style: none;
  padding: 5px;
}

.sidebarListItem {
  padding: 10px;
  margin: 5px 0px;
  display: flex;
  cursor: pointer;
  border-radius: 8px;
  font-weight: 600;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.sidebarListItem:hover {
  background-color: rgba(255, 255, 255, 0.08);
}
.sidebarListItem.active {
  color: rgb(16, 185, 129);
  background-color: rgba(255, 255, 255, 0.08);
}

.sidebarIcon {
  margin-right: 5px;
  font-size: 20px !important;
}

.sidebarArrow {
  margin-left: auto;
}

.sidebarSubItems {
  /* background-color: red; */
  list-style: none;
  padding: 0px 5px 5px 5px;
  /* max-height: 0; */
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}

.sidebarSubItems.active {
  max-height: 100px;
  transition: max-height 0.2s ease-in;
}

.sidebarSubListItem {
  /* position: relative; */
  padding: 9px 24px 9px 40px;
  margin: 0px 10px 4px 10px;
  display: flex;
  cursor: pointer;
  border-radius: 8px;
  font-weight: 600;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.sidebarSubListItem:hover {
  background-color: rgba(255, 255, 255, 0.08);
}

::-webkit-scrollbar {
  width: 6px;
}

/* ::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
   border-radius: 10px;
} */

::-webkit-scrollbar-thumb {
  background: #070c15;
  /* border-radius: 10px; */
}
