.sidebar {
  flex: 1;
  height: calc(100vh - 70px);
  background-color: rgb(17, 24, 39);
  position: sticky;
  top: 70px;
}

.sidebarWrapper {
  padding: 20px;
  color: rgb(209, 213, 219);
}

.sidebarMenu {
  margin-bottom: 10px;
}

.sidebarTitle {
  font-size: 13px;
  color: rgb(160, 160, 160);
}

.sidebarList {
  list-style: none;
  padding: 5px;
}

.sidebarListItem {
  padding: 10px;
  margin: 5px 0px;
  display: flex;
  cursor: pointer;
  border-radius: 8px;
  font-weight: 600;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.sidebarListItem:hover {
  background-color: rgba(255, 255, 255, 0.08);
}
.sidebarListItem.active {
  color: rgb(16, 185, 129);
  background-color: rgba(255, 255, 255, 0.08);
}

.sidebarIcon {
  margin-right: 5px;
  font-size: 20px !important;
}
