.newQuiz {
  flex: 4;
  padding: 20px;
}

.newQuizForm {
  display: flex;
  flex-wrap: wrap;
}

.newQuizItem {
  width: 400px;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-right: 20px;
}

.newQuizItem > label {
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 14px;
  color: rgb(163, 163, 163);
}

.newQuizItem > input {
  height: 20px;
  padding: 10px;
  border: 1px solid gray;
  border-radius: 5px;
}
.newQuizGender {
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* justify-items: left; */
  flex-wrap: wrap;
  margin-top: 10px;
  margin-right: 20px;
}

.newQuizGender > input {
  margin-top: 14px;
}

.newQuizGender > label {
  margin: 10px;
  font-size: 18px;
  color: #555;
}

.newQuizSelect {
  height: 40px;
  border-radius: 5px;
}

.newQuizButton {
  height: 50px;
  width: 200px;
  border: none;
  background-color: darkblue;
  color: white;
  padding: 7px 10px;
  font-weight: 600;
  border-radius: 10px;
  margin-top: 30px;
  cursor: pointer;
}
